{% extends "layouts/_default.twig" %}

{% block pageName %}All Planets{% endblock %}
{% block content %}

  {% for planet in planets %}
    <section>
      <h3>{{ planet.name }}</h3>
      <li>
{% include 'partials/actions.twig' with { resource: 'planets', id: planet.id} %}
</li>
      <ul>
        <li><strong>Size:</strong> {{ planet.size }}</li>
        <li><strong>Description:</strong> {{ planet.description }}</li>
        <li><strong>Galaxy:</strong> {{ planet.Galaxy.name }}</li>

        {% if planet.Stars.length > 0 %}
          <li><strong>Stars:</strong>
            <ul>
              {% for star in planet.Stars %}
                <li>{{ star.name }}</li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li><em>No stars linked</em></li>
        {% endif %}
      </ul>
    </section>
  {% endfor %}
<a href="/planets/new">Create New Planet</a>

  <p><a href="/">Go back</a></p>
{% endblock %}
