{% extends "layouts/_default.twig" %}

{% block pageName %}All Stars{% endblock %}

{% block content %}
  {% for star in stars %}
    <section>
      <h3>{{ star.name }}</h3>

      {% if star.Image %}
        <img src="/images/{{ star.Image.filename }}" alt="Star image" width="200" />
      {% else %}
        <em>No image available</em>
      {% endif %}

      <div>
        {% include 'partials/actions.twig' with { resource: 'stars', id: star.id } %}
      </div>

      <ul>
        <li><strong>size:</strong> {{ star.size }}</li>
        <li><strong>description:</strong> {{ star.description }}</li>
        <li><strong>galaxy:</strong> {{ star.Galaxy.name }}</li>
      </ul>
    </section>
  {% endfor %}
  <a href="/stars/new">Create New Star</a>
  <br />
  <a href="/">Go back</a>
{% endblock %}
