{% extends "layouts/_default.twig" %}

{% block pageName %}
  Now viewing {{ galaxy.name }}
{% endblock %}

{% block content %}

  {% if galaxy.Image %}
    <img src="/images/{{ galaxy.Image.filename }}" alt="Galaxy image" width="200" />
  {% else %}
    <em>No image available</em>
  {% endif %}

  <ul>
    <li><strong>name:</strong> {{ galaxy.name }}</li>
    <li><strong>size:</strong> {{ galaxy.size }}</li>
    <li><strong>description:</strong> {{ galaxy.description }}</li>

    {% if galaxy.Stars.length > 0 %}
      <li><strong>associated stars:</strong>
        <ul>
          {% for star in galaxy.Stars %}
            <li>{{ star.name }}</li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li><em>No stars linked.</em></li>
    {% endif %}

    {% if galaxy.Planets.length > 0 %}
      <li><strong>Associated planets:</strong>
        <ul>
          {% for planet in galaxy.Planets %}
            <li>{{ planet.name }}</li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li><em>No planets linked.</em></li>
    {% endif %}
  </ul>


  <p><a href="/galaxies">Go back</a></p>
{% endblock %}
